@charset "UTF-8";
/* montserrat raleway roboto 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* Noto Sans KR 폰트 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
/* 모든폰트 */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Monoton&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* Lato 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* Playfair 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Open Sans 폰트*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* 눈누 폰트 지마켓 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Default CSS */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
}

.gallary {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
}
.gallary li {
  flex: 1;
  border-right: 5px solid #000;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.gallary li:last-child {
  border: none;
}
.gallary li:nth-child(1) {
  background: url(./images/artistic-image-01.jpg) no-repeat center center;
}
.gallary li:nth-child(2) {
  background: url(./images/artistic-image-02.jpg) no-repeat center center;
}
.gallary li:nth-child(3) {
  background: url(./images/artistic-image-03.jpg) no-repeat center center;
}
.gallary li:nth-child(4) {
  background: url(./images/artistic-image-04.jpg) no-repeat center center;
}
.gallary li:nth-child(5) {
  background: url(./images/artistic-image-05.jpg) no-repeat center center;
}
.gallary li:hover {
  filter: grayscale(1);
  flex: 3;
}
.gallary li .content {
  background-color: #000;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: -250px;
  left: 0;
  padding: 20px;
  height: 250px;
  padding-top: 50px;
  transition: 0.5s;
}
.gallary li .content h2 {
  font-weight: 600;
}
.gallary li:hover .content {
  bottom: 0;
  transition-delay: 0.5s;
}